{% extends 'app/base.html' %}

{% block content %}

<div class="container mt-3">
    <h2 class="text-center display-5" style="animation: pulse 1.5s 1; text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);">
        Libros Prestados a {{ estudiante.nombre }}
    </h2>

    <!-- Tabla de libros -->
    <table class="table table-striped text-center mt-5">
        <thead class="secondary-color">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Categoría</th>
                <th scope="col">Autor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.libro.titulo }}</td>
                <td>{{ prestamo.libro.get_categoria_display }}</td>
                <td>{{ prestamo.libro.autor }}</td>
                <td>{{ prestamo.fecha }}</td>
                <td>
                    <a href="{% url 'devolver_libro' libro_id=prestamo.libro.id estudiante_id=estudiante.id success_url='estudiante-detail' %}" class="btn btn-success btn-sm"><i class="fas fa-hand-holding"></i></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No hay libros prestados por este estudiante.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div class="d-flex justify-content-between mt-4">
        <div>
            {% if prestamos.has_previous %}
                <a href="?page={{ prestamos.previous_page_number }}" class="btn btn-color">
                    <i class="fas fa-chevron-left"></i> Anterior
                </a>
            {% endif %}
        </div>
        <div>
            <!-- Números de página -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% for num in prestamos.paginator.page_range %}
                        {% if prestamos.number == num %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% elif num > prestamos.number|add:'-5' and num < prestamos.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div>
            {% if prestamos.has_next %}
                <a href="?page={{ prestamos.next_page_number }}" class="btn btn-color">
                    Siguiente <i class="fas fa-chevron-right"></i>
                </a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
