{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-danger">Confirmar Eliminación</h2>
    <p class="text-center">¿Estás seguro de que deseas eliminar al estudiante <strong>{{ estudiante.nombre }} {{ estudiante.apellidos }}</strong>?</p>
    
    <form method="POST">
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'estudiante-list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
