{% extends 'app/base.html' %}

{% block content %}

<style>
    ul.errorlist {
        color: red;
        list-style-type: none;
        padding-left: 0;
    }
    ul.errorlist li {
        margin-bottom: 5px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="text-center mb-4">Formulario</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
